# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables
.env

# Flask
instance/
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/
